<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mainCures</key>
		<string>常用于外感发热，头痛，多与推攒竹，揉太阳等合用。若用于治疗目赤痛，多与清肝经，掐揉小天心，揉肾纹，清天河水等合用</string>
		<key>effect</key>
		<string>疏风解表，醒脑明目，止头痛</string>
		<key>name</key>
		<string>坎宫</string>
		<key>locating</key>
		<string>自眉头起沿眉向眉梢成一横线</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>两拇指自眉心向眉梢做分推，称推坎宫，又称推眉弓。</string>
				<key>times</key>
				<string>30-50</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>常用于风寒感冒，头痛，无汗，发热等症，多与推坎宫，揉太阳等合用。若惊惕不安，烦躁不宁多与清肝经，捣小天心，掐揉五指节，清肝经，揉百会等合用</string>
		<key>effect</key>
		<string>发汗解表，镇静安神，开窍醒神</string>
		<key>name</key>
		<string>天门（攒竹）</string>
		<key>locating</key>
		<string>两眉连线中点至前发际成一直线</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>两拇指自下而向上交替直推，称开天门，又称推攒竹</string>
				<key>times</key>
				<string>30-50</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>治感冒头痛，多与推攒竹合，推坎宫，揉太阳等合用。亦可治神昏烦躁等症</string>
		<key>effect</key>
		<string>疏风解表，安神除烦</string>
		<key>name</key>
		<string>耳后高骨</string>
		<key>locating</key>
		<string>耳后入发际高骨下凹陷中</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>两拇指或中指揉，称揉耳后高骨</string>
				<key>times</key>
				<string>30-50</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>呕吐，恶心，和外感发热，项强等症。治疗呕恶多与横纹推向板门，揉中脘等合用。治疗外感发热，颈项强痛等症多与风池，掐揉二扇门等同用</string>
		<key>effect</key>
		<string>降逆止呕，驱风散寒</string>
		<key>name</key>
		<string>天柱骨</string>
		<key>locating</key>
		<string>颈后发际线正中至大椎穴成一直线</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>用拇指或者食，中指自上向下直推，称推天柱骨。或用汤匙边蘸水自上向下刮，称刮天柱骨。</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>胸闷，咳嗽，痰呜，呕吐等症</string>
		<key>effect</key>
		<string>宽胸理气，止咳化痰</string>
		<key>name</key>
		<string>乳根</string>
		<key>locating</key>
		<string>乳头直下两分，当第五肋间隙，距前正中线四寸</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>中指端揉，称揉乳根</string>
				<key>times</key>
				<string>20-50</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>胸闷，咳嗽，痰呜，呕吐等症，多与乳根配用，食，中指同时操作</string>
		<key>effect</key>
		<string>宽胸理气，止咳化痰</string>
		<key>name</key>
		<string>乳旁</string>
		<key>locating</key>
		<string>乳外旁开两分</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>中指端揉，称揉乳旁</string>
				<key>times</key>
				<string>20-50</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>本穴性开而降，多用于由于食积，痰壅，气逆所致的胸闷，腹胀等。若肝脾大，则需久久搓摩，非一日之功。此穴对中气下陷，肾不纳气者慎用</string>
		<key>effect</key>
		<string>顺气化痰，除胸闷，开积聚</string>
		<key>name</key>
		<string>胁肋</string>
		<key>locating</key>
		<string>从腋下两胁至天枢处</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>以两手掌从两腋下搓摩至天枢处，称搓摩胁肋，又称弦走搓摩</string>
				<key>times</key>
				<string>50-100</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>对于小儿腹泻，呕吐，恶心，便秘，腹胀，厌食等消化功能紊乱效果较好，常与捏脊，揉足三里合用，作为小儿保健手法</string>
		<key>effect</key>
		<string>健脾和胃，理气消食</string>
		<key>name</key>
		<string>腹</string>
		<key>locating</key>
		<string>腹部</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>两手沿肋弓角边缘或自中脘至脐，向两旁分推，称分推腹阴阳</string>
				<key>times</key>
				<string>100-200</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四指摩称摩腹</string>
				<key>duration</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>多用于小儿先天不足，寒凝少腹，以及腹痛，疝气，遗尿，脱肛等症，常与补肾经，推三关，揉外劳等合用。揉丹田对尿潴留又一定效果，临床上常与推箕门，清小肠等合用</string>
		<key>effect</key>
		<string>固本培元，温补下元，分清别浊</string>
		<key>name</key>
		<string>丹田</string>
		<key>locating</key>
		<string>小腹部（脐下两寸与三寸之间）</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>揉，称揉丹田</string>
				<key>times</key>
				<string>50-100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>摩，称摩丹田</string>
				<key>duration</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>对于各种原因引起的腹痛均可应用，特别是对寒痛，伤食痛效果更好。本法刺激较强，为防止患儿哭闹影响手法的进行，可在诸手法推毕，再拿此穴</string>
		<key>effect</key>
		<string>止腹痛</string>
		<key>name</key>
		<string>肚角</string>
		<key>locating</key>
		<string>脐下两寸（石门），旁开两寸的大筋</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>用拇，食，中三指做拿法，称拿肚角，或用中指端按，称按肚角。</string>
				<key>times</key>
				<string>3-5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>捏脊法是小儿保健常用手法之一。临床上多与补脾经，补肾经，推三关，摩腹，按揉足三里等配合应用，治疗先后天不足的一些慢性病症，均有一定效果。本法单用名捏脊疗法，不仅常用于小儿疳积，腹泻等病症，还可应用于成人失眠，肠胃病，月经不调等病症。推脊柱穴从上而下，能清热，多与清天河水，退六腑，推涌泉等合用。</string>
		<key>effect</key>
		<string>调阴阳，理气血，和脏腑，通经络，培元气，清热</string>
		<key>name</key>
		<string>脊柱</string>
		<key>locating</key>
		<string>大椎至长强成一直线</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>用食，中二指面至上而下做直推，称推脊</string>
				<key>times</key>
				<string>3-5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>用捏法至下而上，称捏脊。每捏三下再将脊背提一下，称捏三提一法。</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>推上七节骨能温阳止泻，多用于虚寒腹泻，久痢等症。临床上常与揉百会，揉丹田等合用治疗气虚下陷的脱肛，遗尿等症。若属实热症，则不宜用此法，用后多令患儿腹胀或出现其他变症。推下七节骨能泻热通便，多用于肠热便秘或痢疾等症。若腹泻属虚寒者，不可用此法，恐防滑泄。</string>
		<key>effect</key>
		<string>温阳止泻，泻热通便</string>
		<key>name</key>
		<string>七节骨</string>
		<key>locating</key>
		<string>第四腰椎至尾椎骨端（长强）成一直线。</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>用拇指桡侧面或是指，中二指面自下而上或自上而下做直推，分别称为：推上七节骨，推下七节骨。</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>本穴即督脉长强穴，揉之能通调督脉之经气。此穴性平和，能止泻，也能通便。多与揉脐，推七节骨等配合应用，以治腹泻，便秘等症。</string>
		<key>effect</key>
		<string>调理大肠</string>
		<key>name</key>
		<string>龟尾</string>
		<key>locating</key>
		<string>尾椎骨端</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>拇指或中指揉按，称揉龟尾。</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>补脾经用于脾胃虚弱，气血不足而引起的食欲不振，肌肉消弱，消化不良等症。清脾经湿热熏蒸，皮肤发黄，恶心呕吐，腹泻，痢疾等症。小儿脾胃虚弱，不宜攻伐太甚，在一般情况下，脾经穴多用补法，而体壮邪实者方能用清法。小儿体虚，正气不足，患斑疹热病时，推补本穴，可使隐疹透出，但手法宜快，用力宜重。</string>
		<key>effect</key>
		<string>补脾经可健脾胃，补气血。清脾经可清热利湿，化痰止咳。</string>
		<key>name</key>
		<string>脾经</string>
		<key>locating</key>
		<string>拇指末节罗纹面，另有说拇指桡侧缘一线</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>将患儿拇指屈曲，循拇指桡侧缘向指根方向直推为补，称补脾经。由指根向指端方向直推为清，称清脾经。补脾经，清脾经，统称为推脾经。</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>清肝经常用于惊风，抽搐，烦躁不安，五心烦热等症</string>
		<key>effect</key>
		<string>平肝泻火，息风镇惊，解郁除烦</string>
		<key>name</key>
		<string>肝经</string>
		<key>locating</key>
		<string>食指末节罗纹面</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>自指尖向食指掌面末节指纹方向直推为补，称补肝经。自食指掌面末节指纹推向指尖为清，称清肝经。补肝经和清肝经统称为推肝经</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>清心经常用于心火旺盛而引起的高热神昏，面赤口疮，小便短赤等，多与清天河水，清小肠等合用。本穴宜用清法，不宜用补法，恐动心火之故。若气血不足而见心烦不安，睡卧露晴等症，需用补法时，可补后加清，或以补脾经代之</string>
		<key>effect</key>
		<string>清心经可清心泻火，补心经可养神安心</string>
		<key>name</key>
		<string>心经</string>
		<key>locating</key>
		<string>中指末节罗纹面</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>自指尖向中指掌面末节指纹方向直推为补，称补心经。自中指掌面末节指纹推向指尖为清，称清心经。补心经和清心经统称为推心经</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>补肺经用于肺气虚损，以及咳嗽气喘，虚汗怕冷等肺经虚寒症，清肺经用于感冒发热，以及咳嗽气喘，痰鸣等肺经实热症</string>
		<key>effect</key>
		<string>补肺经可补益肺气。清肺经可宣肺清热，疏风解表，化痰止咳</string>
		<key>name</key>
		<string>肺经</string>
		<key>locating</key>
		<string>无名指指末节罗纹面</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>自指尖向无名指指掌面末节指纹方向直推为补，称补肺经。自无名指指掌面末节指纹推向指尖为清，称清肺经。补肺经和清肺经统称为推肺经</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>补肾经用于先天不足，久病体虚，以及肾亏，多尿，遗尿，虚汗喘息等症。清肾经用于膀胱蕴热，小便赤涩等症。临床上肾经穴一般多用补法，需用清法时，也多以清小肠代之</string>
		<key>effect</key>
		<string>补肾经可补肾益脑，温养下元。清肾经可清利下焦湿热</string>
		<key>name</key>
		<string>肾经</string>
		<key>locating</key>
		<string>小指末节罗纹面</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>自小指指根向指尖方向直推为补，称补肾经。自指尖向指根方向直推为清，称清肾经。补肾经和清肾经统称为推肾经</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>清小肠可泌清别浊，多用于小便短赤不利，尿闭，水泻等症。若心经有热，移热于小肠，以本法配合清天河水，能加强利尿的作用。若属下焦虚寒，多尿，遗尿，则宜用补小肠</string>
		<key>effect</key>
		<string>清利下焦湿热</string>
		<key>name</key>
		<string>小肠</string>
		<key>locating</key>
		<string>小指尺侧边缘，自指尖到指根成一直线</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>自指尖直推向指根为补，称补小肠。反之为清，称清小肠。补小肠和清小肠统称为推小肠</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>补大肠多用于虚寒腹泻，脱肛等症。清大肠多用于湿热，食积滞留肠道，身热腹痛，痢下赤白，大便秘结等症</string>
		<key>effect</key>
		<string>补大肠可涩肠固脱，温中止泻。清大肠可清利肠府，除湿热，导积滞</string>
		<key>name</key>
		<string>大肠</string>
		<key>locating</key>
		<string>食指桡侧缘，自食指尖至虎口成一直线</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>从食指尖向虎口味补，称补大肠。反之为清，称清大肠。补大肠和清大肠统称推大肠</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>揉肾纹组要用于目赤肿痛或热毒内陷，淤结不散所致的高热，呼吸气凉，手足逆冷等症</string>
		<key>effect</key>
		<string>祛风明目，散淤结</string>
		<key>name</key>
		<string>肾纹</string>
		<key>locating</key>
		<string>手掌面，小指第二指间关节横纹处</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>中指或者拇指按揉，称揉肾纹</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>揉肾顶对自汗，盗汗，大汉淋漓不止等症均有一定疗效</string>
		<key>effect</key>
		<string>收敛元气，固表止汗</string>
		<key>name</key>
		<string>肾顶</string>
		<key>locating</key>
		<string>小指顶端</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>中指或者拇指按揉，称揉肾顶</string>
				<key>times</key>
				<string>100-500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>临床上多用于疳积，腹胀，气血不和，消化不良等症。常与补脾经，揉中脘等合用。也可用毫针或三棱针点刺本穴出血以治疗疳积，效果也好</string>
		<key>effect</key>
		<string>掐指横纹能退热除烦，散淤结。推四指横纹能调中行气，和气血，消胀满</string>
		<key>name</key>
		<string>四横纹</string>
		<key>locating</key>
		<string>掌面食，中，无名，小指第一指关节横纹处</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>拇指甲掐揉，称掐四横纹</string>
				<key>times</key>
				<string>5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四指并拢，用拇指从食指横纹处推向小指横纹处，称推四横纹。</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>推掐本穴主要用于脾胃热结，口唇破烂，以及腹胀等症。临床上用推小横纹治疗肺部干性啰音，有一定疗效</string>
		<key>effect</key>
		<string>退热，散结，消胀</string>
		<key>name</key>
		<string>小横纹</string>
		<key>locating</key>
		<string>掌面食，中，无名，小指掌指关节横纹处</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>以拇指甲掐，称掐小横纹</string>
				<key>times</key>
				<string>5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>用拇指桡侧从食指直推至小指测，称推小横纹</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>主要用于喘咳，口舌生疮等，为治疗百日咳，肺炎的要穴。临床上用揉掌小横纹治疗肺部湿性啰音，有一定疗效</string>
		<key>effect</key>
		<string>清热散结，宽胸宣肺，化痰止咳。</string>
		<key>name</key>
		<string>掌小横纹</string>
		<key>locating</key>
		<string>掌面小指根下，尺侧掌纹头</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>中指或者拇指按揉，称揉掌小横纹</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>清胃经多余清脾经，推天柱骨，横纹推向板门等合用，治疗脾胃湿热，或胃气不和所引起的上逆呕恶等症。若肠胃实热，脘腹胀满，发热烦渴，便秘纳呆，多余清大肠，退六腑，揉天枢，推下七节骨等合用。补胃经多与补脾经，揉中脘，摩腹，按揉足三里等合用，治疗脾胃虚弱，消化不良，纳呆腹胀等症。</string>
		<key>effect</key>
		<string>清胃经可清中焦湿热，和胃降逆，泻胃火，除烦止渴。补胃经可健脾胃，助消化。</string>
		<key>name</key>
		<string>胃经</string>
		<key>locating</key>
		<string>拇指掌面近掌端第一节，或大鱼际桡侧赤白肉际处</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>自拇指根像掌根方向推为补，称补胃经。反之为清，称清胃经。补胃经和清胃经统称推胃经。</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>揉板门或用于乳食停积，食欲不症或嗳气，腹胀，腹泻，呕吐等症。板门推向横纹能止泻，横纹推向板门能止呕</string>
		<key>effect</key>
		<string>健脾和胃，消食化滞，止泻，止呕</string>
		<key>name</key>
		<string>板门</string>
		<key>locating</key>
		<string>手掌大鱼际平面</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>指端揉之，称揉板门或运板门。用推法自指根推向腕横纹，称板门推向横纹，反之横纹推向板门</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mainCures</key>
		<string>揉内劳宫用于心经有热而至的口舌生疮，发热，烦渴等症。运内劳宫为运掌小横纹，揉小天心，运内劳宫的复合手法，对心肾两经虚热最为适宜</string>
		<key>effect</key>
		<string>清热除烦，清虚热</string>
		<key>name</key>
		<string>内劳宫</string>
		<key>locating</key>
		<string>掌心中，屈指时中指，无名指指端之间的中点</string>
		<key>application</key>
		<array>
			<dict>
				<key>name</key>
				<string>中指端揉之，称揉内劳宫</string>
				<key>times</key>
				<string>100-300</string>
			</dict>
			<dict>
				<key>name</key>
				<string>自小指根掐起，经掌小横纹，小天心至内劳宫，称运内劳宫-水底捞明月。</string>
				<key>times</key>
				<string>10-30</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
