<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>足厥阴肝经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>中风，头痛，高血压，月经不调，胸肋痛</string>
			<key>name</key>
			<string>行间</string>
			<key>locating</key>
			<string>足背，当第一二趾间的趾蹼缘上方纹头处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头痛，眩晕，中风，高血压，面瘫，月经不调，痛经，胃痛，遗尿</string>
			<key>name</key>
			<string>太冲</string>
			<key>locating</key>
			<string>足背，当第一二趾骨结合部之前凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>腹痛，腹胀，腹泻，内脏病，肋痛，腹部肿块，血液病</string>
			<key>name</key>
			<string>章门</string>
			<key>locating</key>
			<string>第十一肋游离端下迹</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>肋间神经痛，气喘，抑郁症，呕吐，反酸</string>
			<key>name</key>
			<string>期门</string>
			<key>locating</key>
			<string>乳头直下，第六肋间下，前正中线旁开四寸</string>
		</dict>
	</array>
	<key>手太阴肺经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>咳嗽，气喘，胸中烦闷，肩背痛，呃逆，代谢病</string>
			<key>name</key>
			<string>中府</string>
			<key>locating</key>
			<string>位于前胸外上方，平第一肋间隙，距胸正中线六寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咽喉肿痛，咳嗽，肘臂挛痛，腰痛</string>
			<key>name</key>
			<string>尺泽</string>
			<key>locating</key>
			<string>位于肘横纹中， 肱二头肌腱桡侧凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咳嗽，气喘，咯血等肺系疾病，胃痛，肘臂挛痛</string>
			<key>name</key>
			<string>孔最</string>
			<key>locating</key>
			<string>尺泽穴与太渊穴连线上，腕横纹上7寸处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咳嗽，气喘，咽喉肿痛等肺系疾病，头痛，颈项痛，小便不利</string>
			<key>name</key>
			<string>列缺</string>
			<key>locating</key>
			<string>桡骨茎突上方，腕横纹上1.5寸，当肱桡肌与拇长展肌之间</string>
		</dict>
	</array>
	<key>手阳明大肠经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>热病，齿痛，手执活动不灵</string>
			<key>name</key>
			<string>二间</string>
			<key>locating</key>
			<string>微握拳，当示指桡侧，第二掌关节前凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>齿痛，咽喉肿痛，腹胀，肠鸣等肠府疾病，嗜睡</string>
			<key>name</key>
			<string>三间</string>
			<key>locating</key>
			<string>微握拳，当示指桡侧，第二掌关节后凹陷处</string>
		</dict>
		<dict>
			<key>name</key>
			<string>合谷</string>
			<key>mainCures</key>
			<string>头痛，齿痛，耳聋等五官诸疾，发热，恶寒，热病无汗或多汗，胃痛，糖尿病</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>在手背，第一二掌骨间，平第二掌骨桡侧的中点处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>手臂麻疼，屈伸不利，腹胀，腰痛</string>
			<key>name</key>
			<string>手三里</string>
			<key>locating</key>
			<string>位于前臂背面桡侧，曲池下两寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>手臂麻疼，上肢不遂等上肢病症，热病，糖尿病，高血压，腹痛，吐泻等肠胃病症，咽喉肿痛，齿痛，目赤肿痛等五官热性疾病</string>
			<key>name</key>
			<string>曲池</string>
			<key>locating</key>
			<string>屈肘成直角，在肘横纹外侧端与肱骨上髁连线中点</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>肩臂挛痛，上肢不遂，寻麻疹</string>
			<key>name</key>
			<string>肩禺</string>
			<key>locating</key>
			<string>剑锋段下缘，当肩锋与肱骨大结节之间，三角肌上部中央，臂外展或平举时，肩部出现两个凹陷，当肩锋前下方凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>鼻塞，鼻炎，口眼歪斜，便秘</string>
			<key>name</key>
			<string>迎香</string>
			<key>locating</key>
			<string>位于鼻翼外缘中点旁0.5寸，鼻唇沟中</string>
		</dict>
	</array>
	<key>足太阴脾经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>腹胀，腹泻，胃痛，便秘等脾胃疾病，全身骨痛</string>
			<key>name</key>
			<string>太白</string>
			<key>locating</key>
			<string>足内侧缘，第一跎骨小头后缘，赤白肉际凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，呕吐，腹痛，腹泻等消化系统疾病，失眠，心痛，月经不调</string>
			<key>name</key>
			<string>公孙</string>
			<key>locating</key>
			<string>足内侧缘，第一跎骨基底部的下方，赤白肉际处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>脾胃虚弱，消化不良，月经不痛，失眠，遗尿，小便失禁</string>
			<key>name</key>
			<string>三阴交</string>
			<key>locating</key>
			<string>内踝高点上三寸，胫骨内侧缘后方</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>痛经，崩漏，月经不调等妇科病症，腹痛，腹泻，腹部肿胀</string>
			<key>name</key>
			<string>地机</string>
			<key>locating</key>
			<string>在内踝尖与阴陵泉穴的连线上，阴陵泉穴下三寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>腹胀，腹泻，水肿，膝痛，周身困重</string>
			<key>name</key>
			<string>阴陵泉</string>
			<key>locating</key>
			<string>胫骨内侧踝下方凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>月经不调，痛经，闭经等月经病，湿疹，寻麻疹</string>
			<key>name</key>
			<string>血海</string>
			<key>locating</key>
			<string>屈膝，在髌骨内上缘上两寸，当股四头肌内侧头隆起处</string>
		</dict>
		<dict>
			<key>name</key>
			<string>腹结</string>
			<key>mainCures</key>
			<string>腹痛，腹泻，便秘，食积</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>脐下1.3寸，前正中线旁开四寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胸肋痛，全身疼痛，四肢无力，慢性疲劳症</string>
			<key>name</key>
			<string>大包</string>
			<key>locating</key>
			<string>在侧胸部腋中线上，当第六肋间隙处</string>
		</dict>
	</array>
	<key>手少阴心经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>心悸，盗汗，失眠，耳鸣</string>
			<key>name</key>
			<string>神门</string>
			<key>locating</key>
			<string>在尺侧腕屈肌腱的桡侧缘，腕掌横纹尺侧端</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>心痛，癫痫，颈淋巴肿大，甲状腺肿大</string>
			<key>name</key>
			<string>少海</string>
			<key>locating</key>
			<string>屈肘，在肘横纹内侧端与肱骨内上踝连线的中点</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>上肢不遂，心痛</string>
			<key>name</key>
			<string>极泉</string>
			<key>locating</key>
			<string>在腋窝中央</string>
		</dict>
	</array>
	<key>手厥阴心包经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>心痛，心悸，甲亢，胃痛，疟疾，癫痫</string>
			<key>name</key>
			<string>间使</string>
			<key>locating</key>
			<string>腕横纹上三寸，掌长肌腱与桡侧腕屈肌腱之间</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>心痛，心动过速或过缓，胃痛，失眠，抑郁，头痛，颈痛</string>
			<key>name</key>
			<string>内关</string>
			<key>locating</key>
			<string>腕横纹上两寸，掌长肌腱与桡侧腕屈肌腱之间</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，心痛，口舌生疮，足跟痛</string>
			<key>name</key>
			<string>大陵</string>
			<key>locating</key>
			<string>在掌横纹中点处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，口臭，心痛，发热</string>
			<key>name</key>
			<string>劳宫</string>
			<key>locating</key>
			<string>在第二三掌骨之间偏于第三掌骨，掌心横纹中</string>
		</dict>
	</array>
	<key>足少阳胆经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>头痛，颈项强痛，脑供血不足，癫痫</string>
			<key>name</key>
			<string>完骨</string>
			<key>locating</key>
			<string>耳后，乳突下方凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头痛，眩晕，颈项强痛，中风，感冒</string>
			<key>name</key>
			<string>风池</string>
			<key>locating</key>
			<string>在枕骨之下，斜方肌上端与胸锁乳突肌之间凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>颈椎病，高血压，诸虚百损</string>
			<key>name</key>
			<string>肩井</string>
			<key>locating</key>
			<string>在大椎于肩峰端连线的中点</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胁肋疼痛，呕吐，反酸，呃逆，头痛，骨病，</string>
			<key>name</key>
			<string>日月</string>
			<key>locating</key>
			<string>乳突直下，第七肋间隙</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>小便不利，水肿，腹胀，腹泻，腰痛，肋痛，骨病</string>
			<key>name</key>
			<string>京门</string>
			<key>locating</key>
			<string>侧腰部，第十二肋游离端下迹处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>月经不调，闭经，带下，腰痛</string>
			<key>name</key>
			<string>带脉</string>
			<key>locating</key>
			<string>侧腹部，第十一肋游离端之下平脐处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>坐骨神经痛，下肢瘫痪，膝痛，寻麻疹</string>
			<key>name</key>
			<string>跳环</string>
			<key>locating</key>
			<string>侧卧屈股，股大转子高点与骶管裂孔连线的外1/3与内2/3交点处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>下肢不遂，全身瘙痒，坐骨神经痛</string>
			<key>name</key>
			<string>风市</string>
			<key>locating</key>
			<string>大腿外侧正中，国横纹上七寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>阳陵泉</string>
			<key>mainCures</key>
			<string>膝关节痛，肋痛，全身疼痛，偏头痛，四肢麻木</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>腓骨小头前方凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>视力障碍，下肢痹痛</string>
			<key>name</key>
			<string>光明</string>
			<key>locating</key>
			<string>外踝高点上五寸，腓骨前段</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>痴呆，头痛，中风，颈项强痛，鼻炎，咳嗽</string>
			<key>name</key>
			<string>悬钟</string>
			<key>locating</key>
			<string>外踝高点上三寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>偏头痛，肋间神经痛，抑郁症，强迫症，月经不调</string>
			<key>name</key>
			<string>足临泣</string>
			<key>locating</key>
			<string>第四趾关节后方，足小趾伸肌腱外侧凹陷中</string>
		</dict>
	</array>
	<key>手太阳小肠经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>颈痛，腕痛，头痛，耳鸣，颈淋巴肿大，热病，癫狂病</string>
			<key>name</key>
			<string>阳谷</string>
			<key>locating</key>
			<string>腕背横纹尺侧端，当尺骨茎突桡侧骨缝凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>目视不明，颈椎病，肩背痛</string>
			<key>name</key>
			<string>养老</string>
			<key>locating</key>
			<string>以手掌面向胸，当尺骨茎突桡侧骨缝凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>肘臂疼痛，麻木，癫痫，颈部肿痛</string>
			<key>name</key>
			<string>小海</string>
			<key>locating</key>
			<string>屈肘，当尺骨鹰嘴与肱骨内上踝之间凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>颈椎病，肩背疼痛，咳嗽，气喘</string>
			<key>name</key>
			<string>肩中俞</string>
			<key>locating</key>
			<string>第七颈椎棘突下旁开两寸</string>
		</dict>
	</array>
	<key>足少阴肾经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>头晕，头顶痛，失眠，抽筋，足心热</string>
			<key>name</key>
			<string>涌泉</string>
			<key>locating</key>
			<string>在足底部，第二三跖跖缝纹头端月足跟连线的前1/3处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>月经不调，遗精，阳痿，糖尿病，肾炎，痛风</string>
			<key>name</key>
			<string>然谷</string>
			<key>locating</key>
			<string>内踝前下方，足舟骨粗隆下缘凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>失眠，健忘，遗精，阳痿，咽喉肿痛，齿痛，耳鸣，咳嗽，气喘，消渴，便秘，小便频数，月经不调，腰脊痛</string>
			<key>name</key>
			<string>太溪</string>
			<key>locating</key>
			<string>内踝高点与跟腱后缘连线的中点</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>失眠，焦虑，癫痫，咽喉干痛，月经不调，小便频数，尿潴留</string>
			<key>name</key>
			<string>照海</string>
			<key>locating</key>
			<string>内踝高点正下缘凹陷处</string>
		</dict>
		<dict>
			<key>name</key>
			<string>四满</string>
			<key>mainCures</key>
			<string>月经不调，阳痿，腹痛，腰脊痛</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>脐下两寸，腹中线旁开始0.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，腹胀，颈痛，面瘫</string>
			<key>name</key>
			<string>阴都</string>
			<key>locating</key>
			<string>脐上四寸，腹中线旁开始0.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咳嗽，气喘，胸痛，心悸，腹痛，足心痛</string>
			<key>name</key>
			<string>俞府</string>
			<key>locating</key>
			<string>锁骨下缘，前正中线旁开两寸</string>
		</dict>
	</array>
	<key>手少阳三焦经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>痛风，耳聋，糖尿病，肩臂痛</string>
			<key>name</key>
			<string>阳池</string>
			<key>locating</key>
			<string>腕背横纹中，指总伸肌腱尺侧缘凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>偏头痛，耳聋，耳鸣，抑郁症，焦虑症，强迫症，水肿，痛风</string>
			<key>name</key>
			<string>外关</string>
			<key>locating</key>
			<string>尺骨与桡骨之间，腕背横纹上两寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>便秘，耳鸣，耳聋，肋间神经痛，颈淋巴肿大，甲亢</string>
			<key>name</key>
			<string>支沟</string>
			<key>locating</key>
			<string>腕背横纹上三寸，尺骨月桡骨正中间</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>偏头痛，牙痛，耳鸣，耳聋，面瘫，颈淋巴肿大</string>
			<key>name</key>
			<string>翳风</string>
			<key>locating</key>
			<string>乳突前下方月下颌角之间的凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>偏头痛，耳鸣，感觉性失语</string>
			<key>name</key>
			<string>颅息</string>
			<key>locating</key>
			<string>在头部，当角孙与翳风之间，沿耳轮线的上，中1/3的焦点处</string>
		</dict>
	</array>
	<key>督脉</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>头痛，便秘，腹泻，腰痛，癫痫，注意缺陷障碍（伴多动）</string>
			<key>name</key>
			<string>长强</string>
			<key>locating</key>
			<string>在尾骨端月肛门连线中点上</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>腰椎管狭窄，月经不调，癫痫</string>
			<key>name</key>
			<string>腰俞</string>
			<key>locating</key>
			<string>骶骨后正中线上，骶管裂孔处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>腰骶疼痛，月经不调，赤白带下，遗精，阳痿</string>
			<key>name</key>
			<string>腰阳关</string>
			<key>locating</key>
			<string>后正中线上，第四腰椎棘突下凹陷中，约与髂嵴向平</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>腰痛，怕冷，头晕，输液反应，体质衰弱</string>
			<key>name</key>
			<string>命门</string>
			<key>locating</key>
			<string>在第二腰椎棘突下凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，腹泻，腰脊强痛，癫痫</string>
			<key>name</key>
			<string>脊中</string>
			<key>locating</key>
			<string>后正中线上，第十一胸椎棘突下凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>心绞痛，胆绞痛，腰背疼痛，咳嗽，气喘</string>
			<key>name</key>
			<string>至阳</string>
			<key>locating</key>
			<string>后正中线上，第七胸椎棘突下凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>颈椎病，妇科炎症，咽痛，中暑，癫痫，皮肤病</string>
			<key>name</key>
			<string>大椎</string>
			<key>locating</key>
			<string>第七颈椎棘突下凹陷中</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头痛，眩晕，健忘，失眠，中风，高血压</string>
			<key>name</key>
			<string>百会</string>
			<key>locating</key>
			<string>在前发际线正中直上五寸，两耳连线与头正中线交点处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头晕，头痛，三叉神经痛，失眠，咳嗽，鼻炎</string>
			<key>name</key>
			<string>印堂</string>
			<key>locating</key>
			<string>两眉连线之中点</string>
		</dict>
	</array>
	<key>足太阳膀胱经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>腰痛，胃痛，咯血</string>
			<key>name</key>
			<string>睛明</string>
			<key>locating</key>
			<string>目内眦角上方凹陷处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头痛，失眠，腰痛，呃逆</string>
			<key>name</key>
			<string>攒竹</string>
			<key>locating</key>
			<string>在眉头陷中，眶上切迹处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>发热，咳嗽，背项强痛，牙痛，骨病</string>
			<key>name</key>
			<string>大杼</string>
			<key>locating</key>
			<string>在背部第一胸椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咳嗽气喘，胸满，皮肤病，精神抑郁</string>
			<key>name</key>
			<string>肺俞</string>
			<key>locating</key>
			<string>在背部第三胸椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>心痛，心悸，失眠，癫痫</string>
			<key>name</key>
			<string>厥阴俞</string>
			<key>locating</key>
			<string>第四胸棘突下，旁开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咳嗽，气喘，心痛，腹胀痛</string>
			<key>name</key>
			<string>心俞</string>
			<key>locating</key>
			<string>在背部第五椎棘突旁下开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>血液病，胃脘痛，呃逆，关节肿痛</string>
			<key>name</key>
			<string>膈俞</string>
			<key>locating</key>
			<string>在背部第七胸椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>肋痛，目疾，精神抑郁，失眠，高血压</string>
			<key>name</key>
			<string>肝俞</string>
			<key>locating</key>
			<string>在背部第九胸椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>骨病，强迫症，消化不良</string>
			<key>name</key>
			<string>胆俞</string>
			<key>locating</key>
			<string>在背部第十胸椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃脘痛，呕吐，消化不良，贫血，周身困重</string>
			<key>name</key>
			<string>脾俞</string>
			<key>locating</key>
			<string>在背部第十一胸椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃脘痛，呕吐，咳嗽，腰痛</string>
			<key>name</key>
			<string>胃俞</string>
			<key>locating</key>
			<string>在背部第十二胸椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>三焦俞</string>
			<key>mainCures</key>
			<string>腹胀，腹泻，小便不利，水肿，痛风，糖尿病，腰背强痛</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>在背部第一腰椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肾俞</string>
			<key>mainCures</key>
			<string>月经不调，不育，腰膝酸软，疼痛，骨病，耳鸣</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>在背部第二腰椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大肠俞</string>
			<key>mainCures</key>
			<string>腰椎间旁突出症，腰肌劳损，腹胀，便秘，腹泻等胃肠道疾病</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>在背部第四腰椎棘突下旁开1.5寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小肠俞</string>
			<key>mainCures</key>
			<string>遗精，遗尿，带下，腹泻，腰骶痛</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>第一骶椎棘突下旁开1.5寸，约平第一骶后孔</string>
		</dict>
		<dict>
			<key>name</key>
			<string>膀胱俞</string>
			<key>mainCures</key>
			<string>前列腺炎，遗尿，腰骶痛，四肢痉挛</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>第二骶椎棘突下旁开1.5寸，约平第二骶后孔</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>坐骨神经痛，大便难</string>
			<key>name</key>
			<string>承扶</string>
			<key>locating</key>
			<string>在大腿后面臀下横纹的中线</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>坐骨神经痛</string>
			<key>name</key>
			<string>殷门</string>
			<key>locating</key>
			<string>在大腿后面承扶与委中连线上，承扶下六寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>坐骨神经痛，膝关节伸曲不利，皮肤病</string>
			<key>name</key>
			<string>委中</string>
			<key>locating</key>
			<string>月国横纹中点</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>前列腺炎，坐骨神经痛</string>
			<key>name</key>
			<string>秩边</string>
			<key>locating</key>
			<string>臀部骶中嵴旁开三寸处，平第四骶后孔</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>便秘，腰背疼痛，肿瘤疼痛，痣疾</string>
			<key>name</key>
			<string>承山</string>
			<key>locating</key>
			<string>在小腿后面正中，委中与昆仑穴之间，当伸直小腿或足跟上提时，腓肠肌腹下出现的尖角凹陷处</string>
		</dict>
		<dict>
			<key>name</key>
			<string>昆仑</string>
			<key>mainCures</key>
			<string>腰痛，头痛，劲椎病，难产</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>在足部外踝的后方</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头痛，头晕，失眠，坐骨神经痛，癫痫</string>
			<key>name</key>
			<string>申脉</string>
			<key>locating</key>
			<string>外踝直下方凹陷中</string>
		</dict>
	</array>
	<key>足阳明胃经</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>齿痛，耳痛，下颌关节功能紊乱</string>
			<key>name</key>
			<string>下关</string>
			<key>locating</key>
			<string>面部耳前方，颧弓下缘与下颌切迹所形成的凹陷中，合口有孔，开口即闭</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头痛目眩，眼痛，视物不清，小便不利</string>
			<key>name</key>
			<string>头维</string>
			<key>locating</key>
			<string>在头侧部，额角发际线上0.5寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，纳少，呕吐等</string>
			<key>name</key>
			<string>梁门</string>
			<key>locating</key>
			<string>脐中上四寸，前正中线旁开两寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，呕吐，肩痛，癫痫</string>
			<key>name</key>
			<string>滑肉门</string>
			<key>locating</key>
			<string>脐中上一寸，前正中线旁开两寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>腹痛，腹胀，便秘，腹泻等胃肠疾病，月经不调，痛经，腰痛</string>
			<key>name</key>
			<string>天枢</string>
			<key>locating</key>
			<string>脐中旁开两寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>外陵</string>
			<key>mainCures</key>
			<string>腹痛，疝气，痛经，髋关节活动不利</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>脐中下一寸，前正中线旁开两寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>中风，小腹胀满，小便不利，遗精，早泄</string>
			<key>name</key>
			<string>大巨</string>
			<key>locating</key>
			<string>脐中下两寸，前正中线旁开两寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>水道</string>
			<key>mainCures</key>
			<string>痛经，小腹胀满，小便不利，不孕</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>脐中下三寸，前正中线旁开两寸</string>
		</dict>
		<dict>
			<key>name</key>
			<string>归来</string>
			<key>mainCures</key>
			<string>小腹痛，月经不调，带下，痛经</string>
			<key>forbidden</key>
			<string>孕妇</string>
			<key>locating</key>
			<string>脐中下四寸，前正中线旁开两寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>下肢不遂，髋痛膝冷，腹痛</string>
			<key>name</key>
			<string>髀关</string>
			<key>locating</key>
			<string>髂前上棘，髌底外侧端连线上，平臀横纹</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>腹胀，呕吐，胃痛，消化不良等消化系统疾病，高血压，体质虚弱</string>
			<key>name</key>
			<string>足三里</string>
			<key>locating</key>
			<string>在小腿外侧，距胫骨前缘一横指，犊鼻穴下三寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>肠鸣，腹痛，腹泻，便秘等肠道病症，下肢痿痹</string>
			<key>name</key>
			<string>上巨虚</string>
			<key>locating</key>
			<string>犊鼻穴下六寸，足三里穴下三寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>头痛，眩晕，咳嗽痰多，下肢痿痹，高血压，肥胖，脂肪肝，癫痫</string>
			<key>name</key>
			<string>丰隆</string>
			<key>locating</key>
			<string>外踝尖上八寸，条口穴外一寸，胫骨前嵴外两指处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>齿痛，咽喉肿痛，热病，吐酸，腹泻，便秘等肠胃病症，足背肿痛，跎指关节痛</string>
			<key>name</key>
			<string>内庭</string>
			<key>locating</key>
			<string>足背第一二趾间横纹端</string>
		</dict>
	</array>
	<key>任脉</key>
	<array>
		<dict>
			<key>mainCures</key>
			<string>月经不调，不育，阳痿，水肿</string>
			<key>name</key>
			<string>中极</string>
			<key>locating</key>
			<string>脐下四寸，腹正中线上</string>
			<key>forbidden</key>
			<string>孕妇</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>中风，虚脱，头晕，月经病，不育，阳痿，虚劳，糖尿病</string>
			<key>name</key>
			<string>关元</string>
			<key>locating</key>
			<string>脐下三寸，腹正中线上</string>
			<key>forbidden</key>
			<string>孕妇</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>中风，虚脱，头晕，月经病，不育，阳痿，虚劳，抑郁症</string>
			<key>name</key>
			<string>气海</string>
			<key>locating</key>
			<string>脐下1.5寸，腹正中线上</string>
			<key>forbidden</key>
			<string>孕妇</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>中风虚脱，四肢厥冷，大小便失禁，癫痫，消化不良，泄泻</string>
			<key>name</key>
			<string>神阙</string>
			<key>locating</key>
			<string>在脐中央</string>
			<key>forbidden</key>
			<string>孕妇</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>水肿，小便不利，关节阳，腰痛，腹痛，腹泻</string>
			<key>name</key>
			<string>水分</string>
			<key>locating</key>
			<string>前正中线上，脐上一寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，呕吐，颈椎病，腹部肿胀，消化不良</string>
			<key>name</key>
			<string>下脘</string>
			<key>locating</key>
			<string>前正中线上，脐上两寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，呕吐，精神抑郁，水肿，颈痛</string>
			<key>name</key>
			<string>建里</string>
			<key>locating</key>
			<string>前正中线上，脐上三寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，呕吐，消化不良，面瘫，癫痫，哮喘</string>
			<key>name</key>
			<string>中脘</string>
			<key>locating</key>
			<string>前正中线上，脐上四寸，或肚脐与胸剑连线中点处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>胃痛，呕吐，头痛，癫痫</string>
			<key>name</key>
			<string>上脘</string>
			<key>locating</key>
			<string>前正中线上，脐上五寸</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>心绞痛，咳嗽，气喘，乳腺增生</string>
			<key>name</key>
			<string>膻中</string>
			<key>locating</key>
			<string>前正中线上，平第四肋间隙，或两乳头连线与前正中线的交点处</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咳嗽，气喘，胸肋痛</string>
			<key>name</key>
			<string>华盖</string>
			<key>locating</key>
			<string>在胸部前正中线上，平第一肋间隙</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>咳嗽，哮喘，吞咽障碍，咽喉肿痛</string>
			<key>name</key>
			<string>天突</string>
			<key>locating</key>
			<string>在胸骨上窝中央</string>
		</dict>
		<dict>
			<key>mainCures</key>
			<string>中风失语，吞咽困难，咳嗽</string>
			<key>name</key>
			<string>廉泉</string>
			<key>locating</key>
			<string>微仰头，在喉结上方，当舌骨体上缘的中点处</string>
		</dict>
	</array>
</dict>
</plist>
